<div id="bar"></div>
<div class="register">
  <div id="loginboxR">
<h1 id="registitle">Register</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="f2">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="f2">
    <% if @minimum_password_length %>
   <!--  <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="f2">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="f2">
    <%= f.email_field :email, autofocus: true %>
  </div>

<div class="f2">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div id="vertline"></div>
  <div class="actions">
    <div id="copy">
    <h1 id="r3">FIT</h1>
    <h3 id="r4">TRAINER</h3>
      <div id="letting">
      <p>Join the leading trainers in the industry.</p>
      <p>Build your buisness, bill your clients and</p>
      <p>receive analytics on your progress</p>
      <br>
      <p>Sign up today for free</p>
      </div>
   </div>
    <div class="signinbox">
    <%= f.submit "Sign up" , class: "signinbtn2"%>
  </div>
  </div>
        <div id="linksign">
        Already have an account?  
         <%= link_to "Sign in", new_trainer_session_path %>
        </div>
        
<% end %>
    <div id="c4" >FIT</div>
    <div id="c5">&copy; FIT app, All rights reserved</div> 
  
</div>

</div>
 

