<h1>Users#new</h1>
<%= form_for @user do |f| %>
	<%= f.lable :email %> <br>
	<%= f.text_feild :email %> <br>

	<%= f.lable :username %> <br>
	<%= f.text_feild :username  %> <br>

	<%= f.lable :password %> <br>
	<%= f.text_feild :password  %> <br>

	<%= f.submit "Submit"  %> <br>

<p></p>
