<div id="bar"></div>
  <div class="loginpage">

<div id="sitename">
    <h1 class="titlem">Fit</h1>
  </div> 
  <h5 class="titlem2">Trainer</h5>
  <div class="loginbox">
    
    <div id="signheadding"> Sign in </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
     <!-- <%= f.label :password %><br /> -->
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

   <!--  <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div> -->
    <% end -%>

    <div class="actions">
      <div class="signinbox">
      <%= f.submit "Sign in", class: "signinbtn"%>
     
      <div class="forgotpass"><a href="/devise/passwords.new">Forgot Password?</a></div>
      </div>
      <div id="appdload"> Don't have and an account yet? <a href="www.googleplay.com", id="applink">Download the app<a>
      </div>
      <div id="itunes">
          <img src="/assets/appstore.png" style= "height: 36px; width: 121px">
        </div>

      <div id="driod">
          <img src="/assets/googleplay.png" style= "height: 37px;">
        </div> 

      <div id="btmtitle">FIT</div>
      <div id="copyright">&copy; FIT app, All rights reserved</div>   

    </div>
  <% end %>
</div>

  </div>
 
